@using Microsoft.AspNet.Identity
@model AndroidToolkitWeb.Models.ManageUserViewModel

<div class="container">
    <div class="row">
        <div class="span3">
            <div class="icon-settings icon-128"></div>
        </div>
        <div class="span6">
            @using (Html.BeginForm("Manage", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {

                @Html.AntiForgeryToken()
                <h4>Change Password Form</h4>
                <hr />
                <div class="control-group">
                    @Html.ValidationSummary()
                    <div class="form-group">
                        @Html.LabelFor(m => m.OldPassword)
                        <div>
                            @Html.PasswordFor(m => m.OldPassword)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.NewPassword)
                        <div>
                            @Html.PasswordFor(m => m.NewPassword)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.ConfirmPassword)
                        <div>
                            @Html.PasswordFor(m => m.ConfirmPassword)
                        </div>
                    </div>

                    <div class="form-group">
                        <div>
                            <input type="submit" value="Change password" class="btn btn-default" />
                        </div>
                    </div>
                </div>

            }
        </div>
        <div class="span3">
            <div class="icon-user icon-128"></div>
            <p>You're logged in as <strong>@User.Identity.GetUserName()</strong>.</p>
        </div>
    </div>
</div>


