@model AndroidToolkitWeb.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}
<div class="well" style="visibility:hidden"></div>
@section seo
{
    <meta name="application-name" content="Android Toolkit" />
    <meta name="author" content="Gabrijel Boduljak" />
    <meta name="description" content="Register. Create a new account." />
    <meta name="keywords" content="Android Toolkit, Android, ADB, Fastboot, Gabrijel Boduljak, recovery, flash" />
    <meta name="robots" content="INDEX, FOLLOW">
}
<div id="nav-bar">
    <div class="row">
        <div class="span9">
            <div id="header-container">
                <a id="backbutton" class="win-backbutton" href="~/Home/Index"></a>
                <div class="dropdown">
                    <h1 class="header-dropdown accent-color">Register</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="span3 slideLeft">
            <div class="icon-pen icon-128"></div>
        </div>
        <div class="span6 slideExpandUp">
            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h3>Create a new account.</h3>
                <hr />
                <div class="control-group">
                    @Html.ValidationSummary(true)
                    <div class="form-group">
                        @Html.LabelFor(m => m.Name)
                        <div>
                            @Html.TextBoxFor(m => m.Name, new { @class = "input-xxlarge" })
                            @Html.ValidationMessageFor(m => m.Name)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Surname)
                        <div>
                            @Html.EditorFor(m => m.Surname, new { @class = "input-xxlarge" })
                            @Html.ValidationMessageFor(m => m.Surname)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.UserName)
                        <div>
                            @Html.TextBoxFor(m => m.UserName, new { @class = "input-xxlarge" })
                            @Html.ValidationMessageFor(m => m.UserName)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email)
                        <div>
                            @Html.TextBoxFor(m => m.Email, new { @class = "input-xxlarge" })
                            @Html.ValidationMessageFor(m => m.Email)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password)
                        <div>
                            @Html.PasswordFor(m => m.Password, new { @class = "input-xxlarge" })
                            @Html.ValidationMessageFor(m => m.Password)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.ConfirmPassword)
                        <div>
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "input-xxlarge" })
                            @Html.ValidationMessageFor(m => m.ConfirmPassword)
                        </div>
                    </div>
                    <div class="form-group">
                        <br />
                        <button type="submit" class="btn btn-inverse btn-large pulse">
                            <span class="icon-pen"></span>
                        </button>
                    </div>
                </div>
            }
        </div>
        <div class="span3 slideRight">
            <h2>REQUIRED</h2>
            <ul class="nav nav-pills nav-stacked">
                <li>
                    <button class="btn-block">USERNAME</button>
                </li>
                <li>
                    <button class="btn-block">EMAIL</button>
                </li>
                <li>
                    <button class="btn-block">PASSWORD</button>
                </li>
                <li>
                    <button class="btn-block">CONFIRM PASSWORD</button>
                </li>
            </ul>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
