@{
    ViewBag.Title = "Toolkit";
}
@section seo
{
    <meta name="application-name" content="Android Toolkit" />
    <meta name="author" content="Gabrijel Boduljak" />
    <meta name="description" content="Toolkit features." />
    <meta name="keywords" content="Android Toolkit, Android, ADB, Fastboot, Gabrijel Boduljak, recovery, flash" />
    <meta name="robots" content="INDEX, FOLLOW">
}
<div class="well" style="visibility:hidden">

</div>

<div class="container expandOpen">
    <div class="page-header metroWellGreen">
        <h1 class="pull-center">Toolkit</h1>
    </div>
    <div class="row">
        <div class="col-md-12">
            <a href="~/Home/Index">
                <img alt="logo" src="~/img/logo.png" class="thumbnail img-center" />
            </a>
        </div>
        <div class="col-md-12">
            <h1>ADB TOOLS</h1>
            <img class="thumbnail img-center" src="@Url.Content("~/img/ADB.png")" />
        </div>
        <div class="col-md-12">
            <h1>FASTBOOT TOOLS</h1>
            <img class="thumbnail img-center" src="@Url.Content("~/img/Fastboot.png")" />
        </div>
        <div class="col-md-12">
            <h1>ADVANCED TOOLS</h1>
            <img class="thumbnail img-center" src="@Url.Content("~/img/Advanced.png")" />
        </div>
        <hr />
        <div class="page-header metroWell">
            <h1 class="pull-center">Toolkit</h1>
        </div>
        <div class="col-md-12">
            <h1>RECOVERY MASTER</h1>
            <img class="thumbnail img-center" src="@Url.Content("~/img/RecoveryMaster.png")" />
        </div>
        <div class="col-md-12">
            <h1>DEVICE RESTORE</h1>
            <img class="thumbnail img-center" src="@Url.Content("~/img/DeviceRestore.png")" />
        </div>
        <div class="col-md-12">
            <h1>ZIP FLASHER</h1>
            <img class="thumbnail img-center" src="@Url.Content("~/img/ZipFlasher.png")" />
        </div>
    </div>
</div>